body {
    font-family: "Poppins", sans-serif;
  }
  
  h1,
  h2,
  h3 {
    color: rgb(94, 94, 94);
    text-align: right;
  }
  h4 {
    color: rgb(94, 94, 94);
    font-size: 2.5rem;
  }
  
  table td {
    color: rgb(94, 94, 94);
    text-align: center;
  }
  #searching {
    background-color: rgb(236, 168, 143);
    color: whitesmoke;
  }
  #current {
    background-color: whitesmoke;
    color: rgb(236, 168, 143);
    border: solid 2px rgb(236, 168, 143);
  }
  small {
    display: block;
    text-align: right;
    color: rgb(94, 94, 94);
  }
  .container {
    max-width: 650px;
    padding: 50px;
  }
  .degrees {
    color: rgb(94, 94, 94);
    font-size: 2.5rem;
    font-weight: 500;
  }
  